/* clouds.css */

/* .clouds {
  position: absolute;
  height: 50px;
  width: 100px;

  border-radius: 50%;
  opacity: 0.8;
} */

.cloudsOne {
  margin: 1%;
  animation: moveRightToLeft 35s linear infinite;

  position: absolute;

  width: 100px;
  height: 60px;
  background-color: rgb(192, 192, 192);
  border-radius: 90%;
  box-shadow: 20px -20px 0 rgb(209, 208, 208), 40px 0 0 rgb(186, 186, 186),
    60px -20px 0 rgb(208, 208, 208), 80px 0 0 white;
  z-index: -1;
  filter: blur(1px);
}

.cloudsTwo {
  margin: 5%;
  animation: moveRightToLeft 35s linear infinite;

  position: absolute;

  width: 100px;
  height: 60px;
  background-color: rgb(177, 177, 177);
  border-radius: 90%;
  box-shadow: 20px -20px 0 rgb(209, 208, 208), 40px 0 0 rgb(186, 186, 186),
    60px -20px 0 rgb(208, 208, 208), 80px 0 0 white;
  z-index: -1;
}

@keyframes moveRightToLeft {
  0% {
    left: 100%;
  }
  100% {
    left: 0%;
  }
}
