.cloudsSection {
  position: absolute;
  top: 10px;
  z-index: -1;
  width: 100%;
}

.clouds {
  position: relative;
  width: 100px;
  height: 60px;
}
.cloudsOne {
  animation: moveFromLeftToRight 35s linear infinite;
  top: 20px;

  background-color: rgb(192, 192, 192);
  border-radius: 90%;
  box-shadow: 20px -20px 0 rgb(209, 208, 208), 40px 0 0 rgb(186, 186, 186),
    60px -20px 0 rgb(208, 208, 208), 80px 0 0 rgb(218, 218, 218);
  z-index: -1;
  filter: blur(3px);
  opacity: 0.8;
  transition: opacity 0.5s;
}

.cloudsTwo {
  animation: moveFromLeftToRight 35s linear infinite;

  background-color: rgb(177, 177, 177);
  border-radius: 90%;
  box-shadow: 20px -20px 0 rgb(209, 208, 208), 40px 0 0 rgb(186, 186, 186),
    60px -20px 0 rgb(208, 208, 208), 80px 0 0 rgb(197, 197, 197);
  z-index: -1;
  filter: blur(2px);
  opacity: 0.8;
  transition: opacity 0.5s;
}

@keyframes moveFromLeftToRight {
  0% {
    left: 0%;

    opacity: 0.1;
  }
  50% {
    left: 50%;
    filter: blur(10px);
    opacity: 0;
  }
  100% {
    left: 100%;

    opacity: 0;
  }
}
@media only screen and (max-width: 767px) {
  .cloudsOne,
  .cloudsTwo {
    animation: moveFromLeftToRight 10s linear infinite;
  }
  .cloudsSection {
    overflow-x: hidden;
  }

  @keyframes moveFromLeftToRight {
    0% {
      left: 0%;
    }

    100% {
      left: 100%;
    }
  }
}
