/* .snow-container {
  position: absolute;
  display: inline;
  animation: fall 10s linear infinite;
  z-index: -1;
} */

.snowflake {
  border-radius: 100%;
  filter: blur(1px);
  background-color: #ffffff;
  position: absolute;
  display: inline;
  animation: snowfall 10s linear infinite;
  z-index: -1;
}
.snowflake:before,
.snowflake:after {
  content: '';
  position: absolute;
  width: 2px;
  height: 12px;
  background-color: #fff;
  top: 4px;
  left: 9px;
}

.snowflake:before {
  transform: rotate(-45deg);
}

.snowflake:after {
  transform: rotate(45deg);
}
.raindrop {
  width: 15px;
  height: 15px;
  border-radius: 0 50% 50%;
  transform: rotate(90deg);
  filter: blur(1px);
  background-color: rgba(16, 162, 246, 0.4);
  position: absolute;
  display: inline;
  animation: snowfall 8s linear infinite;
  z-index: -1;
}

@keyframes snowfall {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translate(-2em, 60vh);
  }
}

/* @keyframes fall {
  0% {
    opacity: 0;
  }
  3% {
    opacity: 0.9;
  }

  90% {
    opacity: 0.9;
  }

  100% {
    transform: translate(0, 60vh);
    opacity: 0%;
  }
} */
