body {
  height: 100%;
  min-height: 100vh;
  background: rgb(92, 139, 152);
  background: linear-gradient(
    to top,
    rgb(92, 139, 152) 0%,
    rgba(255, 255, 255, 1) 90%
  );
}

.WeatherInfo,
.SunTime {
  background-color: rgba(230, 230, 230, 0.2);
}
